#card {
  min-height: 60vh;
  background-color: #000;
  padding-top: 5vw;
  padding: 10vw 0;
}
#main-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

#card h2,
#main-card a,
#item a {
  color: white;
}
#item {
  border: 1px solid #f5c108;
  padding: 20px;
  margin: 10px;
  min-width: 15vw;
  text-align: left;
  box-shadow: #8e7006 5px 5px 5px;
}
#item b {
  color: #8e7006;
  font-size: 1.2rem;
}

#item:hover {
  background-color: #f5c108;
  color: black;
}
