#footer {
  background-color: black;
  color: #f5c108;
  position: relative;
}
#top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  background-color: transparent;
}
#top a {
  color: black;
  text-shadow: 2px 2px 2px #8e7006;
}
#top a:hover {
  color: #8e7006;
}
#top:hover {
  border: 1px solid #f5c108;
}
